<section id="service">
  <h1 class="sub-heading">Servicios</h1>
  <div class="divider"></div>
  <p class="sub-para">
    Mi perfil se especializa en servicios para el desarrollo de front-end,
    que incluyen la creación de páginas web, la conexión a bases de datos y
    la implementación del CRUD.
  </p>
  <div class="service-row">
    <!-- 1 -->
    <div class="service-box">
      <div class="icon">
        <i class="fa-solid fa-briefcase"></i>
      </div>
      <div class="serv-info">
        <h4>Programación de aplicaciones web</h4>
        <p>Creación de aplicaciones web interactivas y dinámicas para empresas y organizaciones.</p>
      </div>
    </div>
    <!-- 2 -->
    <div class="service-box">
      <div class="icon">
        <i class="fa-solid fa-shop"></i>
      </div>
      <div class="serv-info">
        <h4>Desarrollo de comercio electrónico</h4>
        <p>Creación de tiendas en línea y sistemas de pago seguros para la venta de productos y servicios en línea.</p>
      </div>
    </div>
    <!-- 3 -->
    <div class="service-box">
      <div class="icon">
        <i class="fa-solid fa-database"></i>
      </div>
      <div class="serv-info">
        <h4>Desarrollo de bases de datos</h4>
        <p>Creación y gestión de bases de datos para el almacenamiento y gestión de información.</p>
      </div>
    </div>
    <!-- 4 -->
    <div class="service-box">
      <div class="icon">
        <i class="fa-solid fa-gear"></i>
      </div>
      <div class="serv-info">
        <h4>Mantenimiento y actualización de sitios web</h4>
        <p>Mantenimiento continuo y actualización de sitios web para garantizar su funcionamiento y seguridad.</p>
      </div>
    </div>
    <!-- 5 -->
    <!-- <div class="service-box">
      <div class="icon">
        <i class="fa-solid fa-sun"></i>
      </div>
      <div class="serv-info">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, commodi?</p>
      </div>
    </div> -->
    <!-- 6 -->
    <!-- <div class="service-box">
      <div class="icon">
        <i class="fa-brands fa-slack"></i>
      </div>
      <div class="serv-info">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, commodi?</p>
      </div>
    </div> -->
  </div>
</section>
