<section id="service">
  <h1 class="sub-heading">Servicios</h1>
  <div class="divider"></div>
  <p class="sub-para">Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Cumque minima, modi, hic adipisci, praesentium sequi tenetur ab nobis suscipit porro nulla
    quibusdam
    repellendus quaerat aliquid. Maxime a harum quo architecto!</p>
  <div class="service-row">
    <!-- 1 -->
    <div class="service-box">
      <div class="icon">
        <i class="fa-solid fa-briefcase"></i>
      </div>
      <div class="serv-info">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, commodi?</p>
      </div>
    </div>
    <!-- 2 -->
    <div class="service-box">
      <div class="icon">
        <i class="fa-solid fa-list-check"></i>
      </div>
      <div class="serv-info">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, commodi?</p>
      </div>
    </div>
    <!-- 3 -->
    <div class="service-box">
      <div class="icon">
        <i class="fa-solid fa-chart-bar"></i>
      </div>
      <div class="serv-info">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, commodi?</p>
      </div>
    </div>
    <!-- 4 -->
    <div class="service-box">
      <div class="icon">
        <i class="fa-solid fa-binoculars"></i>
      </div>
      <div class="serv-info">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, commodi?</p>
      </div>
    </div>
    <!-- 5 -->
    <div class="service-box">
      <div class="icon">
        <i class="fa-solid fa-sun"></i>
      </div>
      <div class="serv-info">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, commodi?</p>
      </div>
    </div>
    <!-- 6 -->
    <div class="service-box">
      <div class="icon">
        <i class="fa-brands fa-slack"></i>
      </div>
      <div class="serv-info">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, commodi?</p>
      </div>
    </div>
  </div>
</section>
