<section id="contact">
  <h1 class="sub-heading">Contacto</h1>
  <div class="divider"></div>
  <p class="sub-para">
    Puedes contactarme directamente a través del teléfono que se muestra a continuación
    o bien podemos comunicarnos por correo electrónico.
  </p>
  <div class="contact-row">
    <div class="contact-left">
      <div class="icon-box">
        <div class="icon">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="info">
          <h4>Email:</h4>
          <p>gera@gmail.com</p>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon">
          <i class="fa-solid fa-phone"></i>
        </div>
        <div class="info">
          <h4>Llamar:</h4>
          <p>+51 123 456 789</p>
        </div>
      </div>
      <div class="icon-box">
        <div class="icon">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="info">
          <h4>Ubicación:</h4>
          <p>Cajamarca, Perú</p>
        </div>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63339.212532643614!2d-78.53922177979635!3d-7.160549413749092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91b25afd3fc7d087%3A0xea80a2b94d876b2b!2sCajamarca!5e0!3m2!1ses!2spe!4v1678995970499!5m2!1ses!2spe"
          width="100%" height="250" style="border:0;" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="contact-right">
      <form action="https://formspree.io/f/mknavrey"
      method="POST">
        <input type="text" name="name" id="nombre" placeholder="Nombre">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="text" name="asunto" id="asunto" placeholder="Asunto">
        <textarea name="message" id="msg" rows="9" placeholder="Mensaje..."></textarea>
        <input type="submit" value="Enviar mensaje">
      </form>
    </div>
  </div>
</section>
