<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Portafolio Geraldine Meneses</title>
</head>

<body>
  <header>
    <div class="navbar">
      <div class="logo">
        <i class="fa-solid fa-g"></i>
      </div>
      <ul class="links">
        <li><a href="hola">Hola</a></li>
        <li><a href="sobre">Sobre</a></li>
        <li><a href="portafolio">Portafolio</a></li>
        <li><a href="trabajo">Trabajo</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="contacto">Contacto</a></li>
      </ul>
      <a href="#" class="action_btn">contáctame</a>
      <div class="toggle_btn" (click)="toggelMenu()">
        <i [ngClass]="{ 'fa-regular fa-circle-xmark': isMenuOpened, 'fa-solid fa-bars': !isMenuOpened }"></i>
      </div>
      <div class="dropdown_menu" *ngIf="isMenuOpened">
        <li><a href="hola" class="item-menu">Hola</a></li>
        <li><a href="sobre" class="item-menu">Sobre</a></li>
        <li><a href="portafolio" class="item-menu">Portafolio</a></li>
        <li><a href="trabajo" class="item-menu">Trabajo</a></li>
        <li><a href="blog" class="item-menu">Blog</a></li>
        <li><a href="contacto" class="item-menu">Contacto</a></li>
        <li><a href="#" class="action_btn2">Empecemos</a></li>
      </div>
    </div>
  </header>
  <main id="hero">
    <section class="main-width">
      <div class="container">
        <div class="hero-text">
          <h3>¡Hola!</h3>
          <h1>Yo soy <span class="tw"></span></h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, sed minus aperiam numquam asperiores sunt
            fugit
            aspernatur.</p>
          <div class="social">
            <a href="https://www.linkedin.com/in/geraldine-meneses/" target="_blank">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/nitaly31" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://twitter.com/NitalyMeneses" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/nitalymeneses/" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>
          <button type="buttom">Más sobre mí</button>
        </div>
      </div>
    </section>
    <section id="about">
      <h1 class="sub-heading">Sobre mi</h1>
      <div class="divider"></div>
      <p class="sub-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quam, voluptate iusto
        voluptatum eaque ipsam
        repellat
        in exercitationem qui sequi id facere velit delectus praesentium corrupti voluptas maxime temporibus
        consequatur?</p>
      <div class="about-col">
        <div class="img-col">
          <img src="./../../../assets/img/foto gera.png" alt="Geraldine Meneses.">
        </div>
        <div class="info-col">
          <h2>Front-End Developer!</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur autem molestias ex ipsa,
            perferendis aperiam vitae impedit, quas, eos error sit ipsum reiciendis iste facere eveniet vel tempora
            perspiciatis?
            Necessitatibus?</p>
          <div class="icon-list-col">
            <div class="icon-list">
              <ul>
                <li> <i class="fa-solid fa-angle-right"></i> <strong> Fecha de nacimiento: </strong> <span>31 agosto
                    1995</span></li>
                <li> <i class="fa-solid fa-angle-right"></i> <strong> teléfono: </strong> <span>+51 981 272 302</span>
                </li>
                <li> <i class="fa-solid fa-angle-right"></i> <strong> Ubicacion: </strong> <span>Peru</span></li>
              </ul>
            </div>
            <div class="icon-list">
              <ul>
                <li> <i class="fa-solid fa-angle-right"></i> <strong> Edad: </strong> <span>27</span></li>
                <li> <i class="fa-solid fa-angle-right"></i> <strong> Grado: </strong> <span>Junior</span></li>
                <li> <i class="fa-solid fa-angle-right"></i> <strong> Email: </strong>
                  <span>geraldine.nitaly@gmail.com</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="fact">
      <h1 class="sub-heading">Proyectos</h1>
      <div class="divider"></div>
      <p class="sub-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor enim laboriosam quaerat
        officiis!
        Labore obcaecati cupiditate qui enim placeat officia quod, numquam maiores saepe iusto,
        id voluptate omnis incidunt quasi?</p>
      <div class="fact-row">
        <div class="fact-box">
          <i class="fa-regular fa-face-smile"></i>
          <strong> 50+</strong>
          <p>Happy Clients</p>
        </div>
        <div class="fact-box">
          <i class="fa-solid fa-code"></i>
          <strong> 60+</strong>
          <p>Projects Complet</p>
        </div>
        <div class="fact-box">
          <i class="fa-solid fa-headset"></i>
          <strong> 24/7</strong>
          <p>Hours of Sopport</p>
        </div>
        <div class="fact-box">
          <i class="fa-regular fa-clock"></i>
          <strong> 10+</strong>
          <p>Pending Orders</p>
        </div>
      </div>
    </section>
    <section id="skill">
      <h1 class="sub-heading">Habilidades</h1>
      <div class="divider"></div>
      <p class="sub-para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint beatae molestiae recusandae,
        officia ducimus similique consequatur odio fuga sed.
        Alias quidem doloribus exercitationem aspernatur animi dignissimos quas ipsam laboriosam dicta.</p>
      <div class="skill-row">
        <div class="skill-box">
          <div class="skill-info">
            <h2>HTML</h2>
            <h2>85%</h2>
          </div>
          <div class="skill-outter-line">
            <div class="skill-inner-line" style="width: 85%;"></div>
          </div>
        </div>
        <div class="skill-box">
          <div class="skill-info">
            <h2>CSS</h2>
            <h2>85%</h2>
          </div>
          <div class="skill-outter-line">
            <div class="skill-inner-line" style="width: 85%;"></div>
          </div>
        </div>
        <div class="skill-box">
          <div class="skill-info">
            <h2>TypeScript</h2>
            <h2>75%</h2>
          </div>
          <div class="skill-outter-line">
            <div class="skill-inner-line" style="width: 75%;"></div>
          </div>
        </div>
        <div class="skill-box">
          <div class="skill-info">
            <h2>JavaScript</h2>
            <h2>70%</h2>
          </div>
          <div class="skill-outter-line">
            <div class="skill-inner-line" style="width: 70%;"></div>
          </div>
        </div>
        <div class="skill-box">
          <div class="skill-info">
            <h2>Angular</h2>
            <h2>85%</h2>
          </div>
          <div class="skill-outter-line">
            <div class="skill-inner-line" style="width: 85%;"></div>
          </div>
        </div>
        <div class="skill-box">
          <div class="skill-info">
            <h2>WordPress</h2>
            <h2>75%</h2>
          </div>
          <div class="skill-outter-line">
            <div class="skill-inner-line" style="width: 75%;"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
    <p> &copy; 2023 Diseñado por Geraldine Meneses - Todos los derechos reservados.</p>
  </footer>
</body>

</html>
