<section id="about">
  <h1 class="sub-heading">Sobre mi</h1>
  <div class="divider"></div>
  <p class="sub-para">Me considero una persona sociable y dinámica, capaz de trabajar en equipo y de fomentar la
    comunicación
    y la colaboración entre mis compañeros, siempre en pro de mejorar mi entorno laboral y social. </p>
  <div class="about-col">
    <div class="img-col">
      <img src="./../../../../assets/img/foto-gera.jpeg" alt="Geraldine Meneses.">
    </div>
    <div class="info-col">
      <h2>Front-End Developer!</h2>
      <p>Tengo la capacidad de asumir y realizar cambios que me saquen de mi zona de confort con el fin de alcanzar
        cada uno de los objetivos que me propongo o me establecen.</p>
      <div class="icon-list-col">
        <div class="icon-list">
          <ul>
            <li> <i class="fa-solid fa-angle-right"></i> <strong> Fecha de nacimiento: </strong> <span>31 agosto
                1995</span></li>
            <li> <i class="fa-solid fa-angle-right"></i> <strong> teléfono: </strong> <span>+51 981 272 302</span>
            </li>
            <li> <i class="fa-solid fa-angle-right"></i> <strong> Ubicacion: </strong> <span>Peru</span></li>
            <li> <i class="fa-solid fa-angle-right"></i> <strong> Edad: </strong> <span>27</span></li>
            <li> <i class="fa-solid fa-angle-right"></i> <strong> Grado: </strong> <span>Junior</span></li>
            <li> <i class="fa-solid fa-angle-right"></i> <strong> Email: </strong>
              <span>geraldine@gmail.com</span>
            </li>
          </ul>
        </div>
        <div class="icon-list">
          <ul>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="fact">
  <h1 class="sub-heading">Proyectos</h1>
  <div class="divider"></div>
  <p class="sub-para">
    En este portafolio presentaré una recopilación de proyectos que he desarrollado
    tanto como prácticas como en trabajos particulares.
  </p>
  <div class="fact-row">
    <div class="fact-box">
      <i class="fa-solid fa-certificate"></i>
      <strong> 50+</strong>
      <p>Certificados</p>
    </div>
    <div class="fact-box">
      <i class="fa-solid fa-code"></i>
      <strong> 60+</strong>
      <p>Proyectos Completados</p>
    </div>
    <div class="fact-box">
      <i class="fa-solid fa-headset"></i>
      <strong> 24/7</strong>
      <p>Horas de Soporte</p>
    </div>
    <div class="fact-box">
      <i class="fa-regular fa-clock"></i>
      <strong> 10+</strong>
      <p>Proyectos por Terminar</p>
    </div>
  </div>
</section>
<section id="skill">
  <h1 class="sub-heading">Habilidades</h1>
  <div class="divider"></div>
  <p class="sub-para">Me enfoco en desarrollar tanto habilidades blandas como técnicas. Entre mis habilidades blandas,
    destaco en comunicación efectiva, trabajo en equipo colaborativo, asumir responsabilidad y ética profesional.
    También fomento un ambiente de trabajo positivo y apoyo el desarrollo personal y profesional de mis compañeros.
  </p>
  <div class="skill-row">
    <div class="skill-box">
      <div class="skill-info">
        <h2>HTML</h2>
        <h2>75%</h2>
      </div>
      <div class="skill-outter-line">
        <div class="skill-inner-line" style="width: 75%;"></div>
      </div>
    </div>
    <div class="skill-box">
      <div class="skill-info">
        <h2>CSS</h2>
        <h2>70%</h2>
      </div>
      <div class="skill-outter-line">
        <div class="skill-inner-line" style="width: 70%;"></div>
      </div>
    </div>
    <div class="skill-box">
      <div class="skill-info">
        <h2>TypeScript</h2>
        <h2>65%</h2>
      </div>
      <div class="skill-outter-line">
        <div class="skill-inner-line" style="width: 65%;"></div>
      </div>
    </div>
    <div class="skill-box">
      <div class="skill-info">
        <h2>JavaScript</h2>
        <h2>70%</h2>
      </div>
      <div class="skill-outter-line">
        <div class="skill-inner-line" style="width: 70%;"></div>
      </div>
    </div>
    <div class="skill-box">
      <div class="skill-info">
        <h2>Angular</h2>
        <h2>60%</h2>
      </div>
      <div class="skill-outter-line">
        <div class="skill-inner-line" style="width: 60%;"></div>
      </div>
    </div>
    <div class="skill-box">
      <div class="skill-info">
        <h2>WordPress</h2>
        <h2>75%</h2>
      </div>
      <div class="skill-outter-line">
        <div class="skill-inner-line" style="width: 75%;"></div>
      </div>
    </div>
    <div class="skill-box">
      <div class="skill-info">
        <h2>MySQL</h2>
        <h2>60%</h2>
      </div>
      <div class="skill-outter-line">
        <div class="skill-inner-line" style="width: 60%;"></div>
      </div>
    </div>
    <div class="skill-box">
      <div class="skill-info">
        <h2>Python</h2>
        <h2>65%</h2>
      </div>
      <div class="skill-outter-line">
        <div class="skill-inner-line" style="width: 65%;"></div>
      </div>
    </div>
  </div>
</section>
<section id="resume">
  <h1 class="sub-heading">Currículum</h1>
  <div class="divider"></div>
  <p class="sub-para">
    En este espacio, te presentaré de manera concisa mi formación académica, trayectoria profesional y
    otros aspectos relevantes sobre mí. ¡Bienvenido a mi currículum!
  </p>

  <div class="resume-row">
    <div class="resume-cols">
      <h2>Resumen</h2>
      <div class="my-info">
        <h3>Geraldine</h3>
        <p>Soy una profesional autodidacta y adaptable, capaz de alcanzar sus objetivos y salir de su zona de confort.
          Soy sociable, dinámica y puede trabajar bien en equipo, fomentando la comunicación y la colaboración para
          mejorar
          su entorno laboral y social.</p>
        <ul>
          <li>Cajamarca, Peru</li>
          <li>(123) 456-789</li>
          <li>gera@gmail.com</li>
        </ul>
      </div>
      <h2>Educación</h2>
      <div class="my-edu">
        <h3>Holberton School</h3>
        <span class="sp-box">2021-2022</span>
        <p>Full-Stack Software Enginner</p>
        <p>Desarrollo de aplicaciones web <br>
          El enfoque principal de Foundations es lograr el dominio de los conceptos
          fundamentales de ingeniería y adquirir destreza en la codificación.
        </p>
      </div>
    </div>
    <div class="resume-cols">
      <h2>Experiencia profesional</h2>
      <div class="pro-exp">
        <h3>Siigo (colombia)</h3>
        <span class="sp-box">Abril 2022 - Diciembre 2022</span>
        <p>Full Stack Developer Jr</p>
        <ul>
          <li>Desarrollar algoritmos orientados a funciones de negocio.</li>
          <li>Resolver bugs o problemas encontrados en el software.</li>
          <li>Investigar nuevas tecnologías / framework para desarrollar su trabajo adecuadamente.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
