<section id="portfolio">
  <h1 class="sub-heading">Portafolio</h1>
  <div class="divider"></div>
  <p class="sub-para">
    En este espacio se muestran los proyectos realizados junto con sus correspondientes
    implementaciones, para que los usuarios puedan verlos en acción.
  </p>
  <div class="port-row">
    <div class="port-item">
      <div class="port-img">
        <img style="background-color: #eee;" src="./../../../../assets/img/portafolio/hbnb.png">
      </div>
      <div class="port-info">
        <h4>Airbnb Clone</h4>
        <p>Una copia simple del sitio web de AirBnB.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="port-item">
      <div class="port-img">
        <img src="./../../../../assets/img/gato2.jpg" alt="...">
      </div>
      <div class="port-info">
        <h4>WordPress</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, maiores.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="port-item">
      <div class="port-img">
        <img src="./../../../../assets/img/gato3.jpg" alt="...">
      </div>
      <div class="port-info">
        <h4>WordPress</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, maiores.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="port-item">
      <div class="port-img">
        <img src="./../../../../assets/img/gato4.jpg" alt="...">
      </div>
      <div class="port-info">
        <h4>WordPress</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, maiores.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="port-item">
      <div class="port-img">
        <img src="./../../../../assets/img/gato5.jpg" alt="...">
      </div>
      <div class="port-info">
        <h4>WordPress</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, maiores.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="port-item">
      <div class="port-img">
        <img src="./../../../../assets/img/gato6.jpg" alt="...">
      </div>
      <div class="port-info">
        <h4>WordPress</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, maiores.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
  </div>
</section>
