<section id="portfolio">
  <h1 class="sub-heading">Portafolio</h1>
  <div class="divider"></div>
  <p class="sub-para">Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Cumque minima, modi, hic adipisci, praesentium sequi tenetur ab nobis suscipit porro nulla
    quibusdam
    repellendus quaerat aliquid. Maxime a harum quo architecto!</p>
  <div class="port-row">
    <div class="port-item">
      <div class="port-img">
        <img src="./../../../../assets/img/gato1.jpg" alt="...">
      </div>
      <div class="port-info">
        <h4>WordPress</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, maiores.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="port-item">
      <div class="port-img">
        <img src="./../../../../assets/img/gato2.jpg" alt="...">
      </div>
      <div class="port-info">
        <h4>WordPress</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, maiores.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="port-item">
      <div class="port-img">
        <img src="./../../../../assets/img/gato3.jpg" alt="...">
      </div>
      <div class="port-info">
        <h4>WordPress</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, maiores.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="port-item">
      <div class="port-img">
        <img src="./../../../../assets/img/gato4.jpg" alt="...">
      </div>
      <div class="port-info">
        <h4>WordPress</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, maiores.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="port-item">
      <div class="port-img">
        <img src="./../../../../assets/img/gato5.jpg" alt="...">
      </div>
      <div class="port-info">
        <h4>WordPress</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, maiores.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="port-item">
      <div class="port-img">
        <img src="./../../../../assets/img/gato6.jpg" alt="...">
      </div>
      <div class="port-info">
        <h4>WordPress</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, maiores.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
  </div>
</section>
